@model KF.Web.Models.CreateSupplier
@{
    ViewBag.Title = "InvoiceSupplierRegister";
    Layout = "~/Views/Shared/_InvoiceLayoutPage.cshtml";
}

@{
    long SelectedActiveUser = 0;
    int userid = 0;
    if (Request.Cookies["SelectedActiveUser"] != null)
    {
        if (Request.Cookies["SelectedActiveUser"].Value != null)
        {
            long.TryParse(Convert.ToString(Request.Cookies["SelectedActiveUser"].Value), out SelectedActiveUser);
        }
    }
    var selectedUser = KF.Web.Models.UserData.GetCurrentInvoiceUserData();
    using (var db = new KF.Entity.KFentities())
    {
        userid = Convert.ToInt32(db.InvoiceUserRegistrations.Where(s => s.EmailTo == selectedUser.EmailTo).Select(s => s.Id).FirstOrDefault());
    }
}

@section scripts
{
    <link href="~/ThemeAssets/css/form-layout.css" rel="stylesheet" />
    <script src="~/ThemeAssets/Gridjs/Invoice.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="~/ThemeAssets/JqueryUI/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#modalEmail").dialog({
                modal: true,
                autoOpen: false,
                title: "Email Lists",
                width: 400,
                height: 320
            });

        });
        function validateEmailCc() {
            var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            if (reg.test($("#txtEmail").val()) == false) {
                alert('Please enter valid email id');
                return false;
            }
            else {
                return true;
            }
        }
        function clearInput(element) {
            element.value = "";
        }
        $(document).ready(function () {

            $("#companyname").keydown(function (e) {
                if (e.keyCode === 9)
                    $('#dialog').dialog('open');
            });

            $('#dialog').on('dialogclose', function (event) {
                $('#contactperson').focus();
            });

            if (window.location.href.indexOf("InvoiceSupplierRegister") > -1) {
                $("#ulsubitems").css("display", "block");
                $("#litopinvoice").addClass("nav-active");
                $("#btnSupplier").addClass("active");
                $("#btnSupplier").css("color", "#1CAF9A");
                $("#mains2supcust").css("display", "block");
            }

        });

        $(window).load(function () {
            $("#load").fadeOut("slow");
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $("#dialog").dialog({
                modal: true,
                autoOpen: false,
                title: "Supplier Address",
                width: 500,
                height: 440,
                open: function () {
                    setTimeout(function () {
                        $('#shippingaptno').focus();
                    }, 10); // After 420 ms
                },

            });
            $("#corporationaddress").click(function () {
                $('#dialog').dialog('open');
            });
        });
    </script>

    <script>
        function myFunctionLive() {

            setTimeout(function () {
                if (($("#companyname").val() != "")
                    && ($("#shippingstreet").val() != "") && ($("#shippingcity").val() != "")
                    && ($("#shippingstate").val() != "") && ($("#shippingpostalcode").val() != "")
                    && ($("#businessNumber").val() != "")) {

                    function isEmailValid(emailid) {
                        var pattern = new RegExp(/\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*/);
                        return pattern.test(emailid);
                    };
                    if ($("#email").val().length == 0 || !isEmailValid($("#email").val())) {

                        alert("Please fill empty fields.");
                    }
                    else {

                        $("#hdnshippingaptno").val($("#shippingaptno").val());
                        $("#hdnshippinghouseno").val($("#shippinghouseno").val());
                        $("#hdnshippingstreet").val($("#shippingstreet").val());
                        $("#hdnshippingcity").val($("#shippingcity").val());
                        $("#hdnshippingstate").val($("#shippingstate").val());
                        $("#hdnshippingpostalcode").val($("#shippingpostalcode").val());

                        $('form').submit();

                        return true;

                    }

                }
                else {
                    alert("Please fill empty fields.");
                }


            }, 1000)


        }
    </script>

    <script>

        $(document).ready(function () {
            //called when key is pressed in textbox
            $(".numberOnly").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                    //  $("#errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });

            $(document).on("keyup", ".telephonenumberOnly", function () {
                this.value = this.value
                    .match(/\d*/g).join('')
                    .match(/(\d{0,3})(\d{0,7})/).slice(1).join('-')
                    .replace(/-*$/g, '')
                ;
            });

            $("#btnAddShipping").click(function () {

                if (($("#shippingstreet").val() != "") && ($("#shippingcity").val() != "")
                    && ($("#shippingstate").val() != "") && ($("#shippingpostalcode").val() != "")) {
                    if ($("#shippingpostalcode").val().length <= 5) {
                        alert("Postal Code should be of 6 characters.");
                        $('#dialog').dialog('open');
                        return false;
                    }
                    else {
                        var corporateaptno = $("#shippingaptno").val();
                        var corporatehouseno = $("#shippinghouseno").val();
                        var corporatestreet = $("#shippingstreet").val();
                        var corporatecity = $("#shippingcity").val();
                        var corporatestate = $("#shippingstate").val();
                        var corporatepostalcode = $("#shippingpostalcode").val();

                        if (($("#shippingstreet").val() != "") && ($("#shippingcity").val() != "")
                            && ($("#shippingstate").val() != "") && ($("#shippingpostalcode").val() != "")) {

                            if (corporateaptno == "" && corporatehouseno == "") {
                                $("#corporationaddress").text(corporatestreet + '-' + corporatecity + '\r\n' + corporatestate + '\r\n' + corporatepostalcode);
                            }
                            else {
                                $("#corporationaddress").text(corporateaptno + '-' + corporatehouseno + '\r\n' + corporatestreet + '-' + corporatecity + '\r\n' + corporatestate + '\r\n' + corporatepostalcode);
                            }

                            
                            $('#dialog').dialog('close');
                        }
                        else {
                            alert("Please fill empty fields.");
                        }
                    }
                }
                else {
                    alert("Please fill empty fields.");
                }
            });
        });
        function goBack() {
            window.history.back();
        }
    </script>

    <script>
        $("#corporationaddress").css("height", 90);
    </script>

}

<!--Internal Page Header Section Start-->
@Html.Partial("~/Views/Accounting/Partials/_InternalPageHeader.cshtml",
new KF.Web.Models.InternalPageHeaderViewModel
{
    HeaderTitle = "Invoice",
    HeaderSubtitle = "CREATE SUPPLIER",
    HeaderParentPageName = "Invoice",
    HeaderChildPageName = "Create Supplier",
    HeaderFontAwsomeIcon = "fa-money"
})


<div id="page-wrapper">
    <div class="container">
        <div class="row">

            @{
                if (TempData["suppliercreatedetails"] == "Success")
                {
                    <br />
                    <div class="row">
                        <div id="Update-alert" class="alert alert-success col-sm-12"> <p>Supplier details successfully updated.</p></div>
                    </div>
                    <br />
                }
                else if (TempData["supplieralready"] == "Success")
                {
                    <br />
                    <div class="row">
                        <div id="Update-alert" class="alert alert-success col-sm-12"> <p>Supplier already exist.</p></div>
                    </div>
                    <br />
                }
            }

            <article class="col-sm-12">
                <button class="btn btn-primary btn-block top-back-button bottom-margin" onclick="goBack()">Back</button>
            </article>
            <article class="col-sm-12">
                <div class="form-box">
                    <form id="signupform" action="@Url.Action("InvoiceSupplierRegister", "Invoice")" class="form-horizontal" role="form" method="post">

                        @Html.HiddenFor(s => s.Id)
                        @Html.HiddenFor(s => s.hdnshippingaptno)
                        @Html.HiddenFor(s => s.hdnshippinghouseno)
                        @Html.HiddenFor(s => s.hdnshippingstreet)
                        @Html.HiddenFor(s => s.hdnshippingcity)
                        @Html.HiddenFor(s => s.hdnshippingstate)
                        @Html.HiddenFor(s => s.hdnshippingpostalcode)

                        @Html.HiddenFor(s => s.hdnemailCC, new { id = "hdemcc" })
                        <div class="form-group col-sm-6">
                            <label class="col-md-5 col-sm-12 control-label">
                                <span class="field-tittle">
                                    Company/Supplier Name
                                    <span class="required-field">*</span>
                                </span>

                            </label>
                            <div class="col-md-7 col-sm-12">
                                @Html.TextBoxFor(x => x.UserId, new { @Value = userid, @type = "hidden" })
                                @Html.TextBoxFor(x => x.Company_Name, new { @id = "companyname", @class = "form-control", @placeholder = "Company/Supplier Name" })
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="col-md-5 col-sm-12 control-label">
                                <span class="field-tittle">
                                    Supplier Address
                                    <span class="required-field">*</span>
                                </span>

                            </label>
                            <div class="col-md-7 col-sm-12">
                                @Html.TextAreaFor(x => x.Address, new { @id = "corporationaddress", @class = "form-control text-area", @placeholder = "Supplier Address", @height = "", @readonly = "readonly", style = "cursor:text;background-color:#fff;" })
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="col-md-5 col-sm-12 control-label">
                                <span class="field-tittle">
                                    Contact Person

                                </span>
                            </label>
                            <div class="col-md-7 col-sm-12">
                                @Html.TextBoxFor(x => x.FirstName, new { @id = "contactperson", @class = "form-control", @placeholder = "Contact Person" })
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <label class="col-md-5 col-sm-12 control-label">
                                <span class="field-tittle">
                                    Type of Goods/Services Offered

                                </span>
                            </label>
                            <div class="col-md-7 col-sm-12">
                                @Html.DropDownListFor(x => x.GoodsservicesId, Model.GoodsservicesList, "Type of goods/service offered", new { @class = "form-control clsMove" })
                            </div>
                        </div>


                        <div class="form-group col-sm-6">
                            <label class="col-md-5 col-sm-12 control-label">
                                <span class="field-tittle">
                                    Telephone
                                    <span class="required-field">*</span>
                                </span>

                            </label>
                            <div class="col-md-7 col-sm-12">
                                @Html.TextBoxFor(x => x.Telephone, new { @id = "telephone", @class = "form-control telephonenumberOnly", @placeholder = "Telephone" })
                            </div>
                        </div>



                        <div class="form-group col-sm-6">
                            <label class="col-md-5 col-sm-12 control-label">
                                <span class="field-tittle">
                                    Mobile Number

                                </span>
                            </label>
                            <div class="col-md-7 col-sm-12">
                                <div class="row">
                                    <div class="col-md-5 col-sm-4 col-xs-4">
                                        @Html.TextBoxFor(x => x.AreaCode, new { @id = "AreaCode", @class = "form-control numberOnly", maxlength = "3", @placeholder = "Area Code" })
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-8">
                                        @Html.TextBoxFor(x => x.MobileNumber, new { @id = "mobileNumber", @class = "form-control numberOnly", maxlength = "7", @placeholder = "MobileNo" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="col-md-5 col-sm-12 control-label">
                                <span class="field-tittle">
                                    Email
                                    <span class="required-field">*</span>
                                </span>

                            </label>
                            <div class="col-md-7 col-sm-12">
                                @Html.TextBoxFor(x => x.Email, new { @id = "email", @class = "form-control", @placeholder = "Email" })
                                @*<span class="glyphicon glyphicon-plus clsModalEmails" style="right:25px; position:absolute; top:15px"></span>*@
                            </div>
                        </div>
                        @*<div id="modalEmail" style="display: none" align="center">
                            <div class="col-lg-12">
                                <div id="signupbox" style="margin-top:10px" class="mainbox col-md-12 signup-container">
                                    <div class="panel panel-info">
                                        <div class="row">
                                            <div class="form-group clsAdd col-sm-12">
                                                <div class="col-sm-2 col-xs-3" style="text-align:left;">
                                                    <label for="email" class="control-label" style="padding-top:10px;font-weight:400 !important;">Email</label>
                                                </div>
                                                <div class="col-sm-8 col-xs-6">
                                                    @Html.TextBoxFor(x => x.EmailCc, new { @id = "txtEmail", @class = "form-control multiple-val-input", @placeholder = "Email", onfocus = "clearInput(this)", onchange = "validateEmailCc();" })


                                                </div>
                                                <div class="col-sm-2  col-xs-3">
                                                    <a href='javascript:;' class="btn btn-primary ClsAdditionalEmail" id="btnSave" style="float:right;color:#fff;">Save</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="dvAdditionalEmails" class="col-sm-12"><h4>Additional Emails List</h4></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@


                        <div class="form-group col-sm-6">
                            <label class="col-md-5 col-sm-12 control-label">
                                <span class="field-tittle">
                                    Website

                                </span>
                            </label>
                            <div class="col-md-7 col-sm-12">
                                @Html.TextBoxFor(x => x.Website, new { @id = "website", @class = "form-control", @placeholder = "Website" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12 form-button">


                                <a href='javascript:;' onclick='return myFunctionLive()' class="btn btn-info" id="btnLives"> Submit</a>

                                <input type="submit" value="Register" id="Button45" class="btn btn-info" style="display:none;">

                            </div>
                        </div>

                        <div id="dialog" style="display: none" align="center">
                            <div class="container">

                                <article class="col-sm-12">
                                    <div class="form-box">
                                        <section class="col-sm-12" id="sec1">
                                            <section class="row">
                                                <div class="form-group col-sm-6">
                                                    <label class="col-md-5 col-sm-12 control-label">
                                                        <span class="field-tittle">
                                                            Unit No.

                                                        </span>
                                                    </label>
                                                    <div class="col-md-7 col-sm-12">
                                                        @Html.TextBoxFor(x => x.ShippingAptNo, new { @id = "shippingaptno", @class = "form-control", @placeholder = "Enter Unit No." })
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="col-md-5 col-sm-12 control-label">
                                                        <span class="field-tittle">
                                                            House No.
                                                        </span>
                                                    </label>
                                                    <div class="col-md-7 col-sm-12">
                                                        @Html.TextBoxFor(x => x.ShippingHouseNo, new { @id = "shippinghouseno", @class = "form-control", @placeholder = "Enter House No." })
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="col-md-5 col-sm-12 control-label">
                                                        <span class="field-tittle">
                                                            Street
                                                            <span class="required-field">*</span>
                                                        </span>

                                                    </label>
                                                    <div class="col-md-7 col-sm-12">
                                                        @Html.TextBoxFor(x => x.ShippingStreet, new { @id = "shippingstreet", @class = "form-control", @placeholder = "Enter Street" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="col-md-5 col-sm-12 control-label">
                                                        <span class="field-tittle">
                                                            City
                                                            <span class="required-field">*</span>
                                                        </span>

                                                    </label>
                                                    <div class="col-md-7 col-sm-12">
                                                        @Html.TextBoxFor(x => x.ShippingCity, new { @id = "shippingcity", @class = "form-control", @placeholder = "Enter City" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="col-md-5 col-sm-12 control-label">
                                                        <span class="field-tittle">
                                                            State/Province
                                                            <span class="required-field">*</span>
                                                        </span>

                                                    </label>
                                                    <div class="col-md-7 col-sm-12">
                                                        @Html.TextBoxFor(x => x.ShippingState, new { @id = "shippingstate", @class = "form-control", @placeholder = "Enter State/Province" })
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label class="col-md-5 col-sm-12 control-label">
                                                        <span class="field-tittle">
                                                            Postal Code
                                                            <span class="required-field">*</span>
                                                        </span>

                                                    </label>
                                                    <div class="col-md-7 col-sm-12">
                                                        @Html.TextBoxFor(x => x.ShippingPostalCode, new { @id = "shippingpostalcode", maxlength = "6", @class = "form-control", @placeholder = "Enter PostalCode" })
                                                    </div>
                                                </div>
                                            </section>
                                        </section>
                                        <section class="col-sm-12" id="sec1">
                                            <section class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-button">
                                                        <div class="pull-right col-md-4">
                                                            <a href="#" id="btnAddShipping" class="form-control" role="button" style="color: white;">Add</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </section>
                                    </div>
                                </article>

                            </div>
                        </div>

                    </form>
                </div>
            </article>
        </div>
    </div>
</div>