@model KF.Web.Models.SubAccountantViewModel
@{
    ViewBag.Title = "SaveSubAccountant";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

@section scripts{
    <link href="~/ThemeAssets/css/sb_23Feb.css" rel="stylesheet" />
    <style>
        .form-control{
            height: 34px !important;
        }
        .selectBox > #AreaCode {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            color: #555555;
            display: block;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857;
            padding: 6px 12px;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
            vertical-align: middle;
            margin-right: 9px;
            display: inline-block;
            width: 44%;
        }

        .selectBox .form-control {
            display: inline-block;
            width: 50%;
        }

        .clearLeft {
            clear: left;
        }

        .field-validation-error {
            font-size: 11px;
        }

        #Accountantlsts {
            overflow: scroll;
            height: 250px;
        }

        .mob {
            width: 52.5% !important;
        }
    </style>
    <script>
        function updateTextArea() {
            var allVals = [];
            $('.row :checked').each(function () {
                allVals.push($(this).val());
            });

               $('#hdnUsers').val(allVals)
        }
        $(function () {
            $('.chkUser').click(updateTextArea);
            updateTextArea();
        });
        $(document).ready(function () {
            // Write on keyup event of keyword input element
            $("#search").keyup(function () {
                _this = this;
                // Show only matching TR, hide rest of them
                $.each($("#table tbody tr"), function () {
                    if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                        $(this).hide();
                    else
                        $(this).show();
                });
            });
        });

    </script>
}

<!--Internal Page Header Section Start-->
@Html.Partial("~/Views/Accounting/Partials/_InternalPageHeader.cshtml",
new KF.Web.Models.InternalPageHeaderViewModel
{
    HeaderTitle = "Finance",
    HeaderSubtitle = "Employee Panel",
    HeaderParentPageName = "Finance",
    HeaderChildPageName = "Employee Panel",
    HeaderFontAwsomeIcon = "fa-user-plus"
})

<!--Internal Page Header Section End-->
<!-- Main Content Start-->

<div class="contentpanel">
    <div class="row">
        <!--Panel content goes here-->
        <div class="col-md-12">
            @{
                if (Model.Status != null)
                {
                    if (Model.Status == true)
                    {
                        <br />
                        <div class="row">
                            <div id="Update-alert" class="alert alert-success col-sm-12"> <p>Employee successfully created.</p></div>
                        </div>
                        <br />
                    }
                }
            }

           

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title text-center"> Sub-Accountant panel</div>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("SaveSubAccountant", "Accounting", FormMethod.Post,
                                      new { enctype = "multipart/form-data", @class = "form-horizontal createUserForm" }))
                        {
                            @Html.HiddenFor(d=>d.Id)
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label for="email" class="control-label">Email</label>
                                            <span class="form-required-field">*</span>
                                        </div>

                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(x => x.Email, new { @id = "email", @required = "required", @class = "form-control", @placeholder = "Enter your Email" })
                                            @Html.ValidationMessageFor(i => i.Email)
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label for="firstname" class="control-label">Username</label>
                                            <span class="form-required-field">*</span>
                                        </div>

                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @required = "required", @placeholder = "Enter Username" })
                                            @Html.ValidationMessageFor(i => i.Username)
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label for="lastname" class="control-label">Password</label>
                                            <span class="form-required-field">*</span>
                                        </div>

                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @required = "required", @placeholder = "Enter Password" })
                                            @Html.ValidationMessageFor(i => i.Password)
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label for="icode" class="control-label">Mobile Number</label>
                                            <span class="form-required-field">*</span>
                                        </div>

                                        <div class="col-lg-10">
                                            <div class="selectBox">
                                                @Html.TextBoxFor(x => x.AreaCode, new { @id = "AreaCode", @required = "required", @class = "form-control", maxlength = "3", @placeholder = "Area Code" })
                                                @Html.TextBoxFor(x => x.MobileNumber, new { @id = "mobileNumber", @required = "required", @class = "form-control mob", maxlength = "7", @placeholder = "Mobile Number" })
                                                @Html.ValidationMessageFor(i => i.AreaCode)
                                                @Html.ValidationMessageFor(i => i.MobileNumber)
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label for="icode" class="control-label">Company Lists</label>
                                            <span class="form-required-field">*</span>
                                        </div>

                                        <div class="col-lg-10">
                                            <div class="selectBox" id="Accountantlsts">

                                                <input type="hidden" id="hdnUsers" name="hdnUser" />
                                                <input type="text" id="search" style="width:98%!Important" class="form-control" placeholder="Type to search..." />
                                                @if (Model.CustomerList != null)
                                                {
                                                    <table id="table">
                                                        <tbody>
                                                            @foreach (var chekitem in Model.CustomerList)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox" class="chkUser" checked="@chekitem.IsChecked" id="@chekitem.CustomerId" value="@chekitem.CustomerId" />

                                                                        <span>@chekitem.CustomerName</span>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-2">
                                    </div>

                                    <div class="col-lg-10">
                                        <input type="submit" value="Save Sub Accountant" class="btn btn-primary">
                                    </div>

                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="row text-center">
                                <div class="col-md-12 top-margin-25">
                                    <span style="color:#b94a48">*</span>
                                    Mandatory fields are marked. It's recommended that all fields be completed.
                                </div>
                            </div>

                        }

                    </div>
                </div>

           
            <!-- /.row -->

        </div>

    </div><!-- row -->
</div>
<!-- Main Content End-->
