@{
    <style>
        .date-sec::before {
            content: "" !important;
        }
    </style>
    long SelectedActiveUser = 0;
    if (Request.Cookies["SelectedActiveUser"] != null)
    {
        if (Request.Cookies["SelectedActiveUser"].Value != null)
        {
            long.TryParse(Convert.ToString(Request.Cookies["SelectedActiveUser"].Value), out SelectedActiveUser);
        }

    }
    if (SelectedActiveUser > 0)
    {
        var selectedUser = KF.Web.Models.UserData.GetUserData(Convert.ToInt32(SelectedActiveUser));
        <ol class="breadcrumb">
            <li class="text-success">
                <i class="fa fa-users"></i> Currently selected user is @selectedUser.Email / @selectedUser.FirstName  @selectedUser.LastName
            </li>
            <li class="date-sec" style="min-width:200px;">
                <i class="fa fa-calendar" aria-hidden="true"> &nbsp;</i>  @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month) @DateTime.Now.Day, @DateTime.Now.Year 
            </li>
        </ol>
    }
    else
    {
        var selectedUser = KF.Web.Models.UserData.GetCurrentUserData();
        if(selectedUser ==null)
        {
            var selectedUser1 = KF.Web.Models.UserData.GetCurrentInvoiceUserData();
            //selectedUser.RoleId = Convert.ToInt32(selectedUser1.Id);
            <ol class="breadcrumb">
                <li class="text-success">
                    <i class="fa fa-users"></i> Welcome @selectedUser1.EmailTo / @selectedUser1.Username
                </li>
                <li class="date-sec">
                    <i class="fa fa-calendar" aria-hidden="true"> &nbsp;</i>  @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month) @DateTime.Now.Day, @DateTime.Now.Year
                </li>
            </ol>
        }
        else
        { 
            if (selectedUser.RoleId != 1)
            {
                <ol class="breadcrumb">
                    <li class="text-success">
                        <i class="fa fa-users"></i> Welcome @selectedUser.Email / @selectedUser.FirstName  @selectedUser.LastName
                    </li>
                    <li class="date-sec">
                        <i class="fa fa-calendar" aria-hidden="true"> &nbsp;</i>  @System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month) @DateTime.Now.Day, @DateTime.Now.Year
                    </li>
                </ol>
            }
        }

    }
}
