@model KF.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "InvoiceChangePassword";
    Layout = "~/Views/Shared/_InvoiceLayoutPage.cshtml";
}

<style>
    .field-validation-error {
        color: red !important;
    }
</style>

<!--Internal Page Header Section Start-->
@Html.Partial("~/Views/Accounting/Partials/_InternalPageHeader.cshtml",
new KF.Web.Models.InternalPageHeaderViewModel
{
    HeaderTitle = "Invoice",
    HeaderSubtitle = "INVOICE CHANGE PASSWORD",
    HeaderParentPageName = "Invoice",
    HeaderChildPageName = "Invoice Change Password",
    HeaderFontAwsomeIcon = "fa-home"
})

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <article class="col-sm-12">
                <div class="form-box">

                    <form id="loginform" action="@Url.Action("InvoiceChangePassword", "Account")" class="form-horizontal" role="form" method="post">
                        <div class="col-sm-12" style="display:none">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputName2">Email</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    @Html.TextBoxFor(i => i.Email, new { @class = "form-control", placeholder = "Enter Email" })
                                    @Html.ValidationMessageFor(i => i.Email)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputName2">Old Password</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    @Html.PasswordFor(i => i.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                                    @Html.ValidationMessageFor(i => i.OldPassword)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputName2">New Password</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    @Html.PasswordFor(i => i.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                                    @Html.ValidationMessageFor(i => i.NewPassword)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputName2">Confirm Password</label>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    @Html.PasswordFor(i => i.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter New Password" })
                                    @Html.ValidationMessageFor(i => i.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 col-sm-offset-4">
                            <div class="form-group">
                                @Html.ValidationMessageFor(i => i.DefaultMsg)
                            </div>
                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-3 col-md-2 col-xs-4">
                                <input type="submit" value="Update Password" class="btn btn-primary btn-lg col-md-12 col-xs-12 action-button">
                            </div>
                        </div>
                    </form>

                </div>
            </article>
        </div>
    </div>
</div>

